.body{
    margin:0px;
    padding:0px;
}

.preheader{
    width:100%;
    height:60px;
    background-color:darkslategray;
    display: flex;
}
.preheading{
    width:100%;
}
.preheading p{
    margin:2px;
    padding:10px;
    font-family: cursive;
    font-size: 20px;
    font-weight: 25px;
    color:lightgray;
    letter-spacing: 1px;
    text-align: right;

}

.main_header{
    width:100%;
    height: 100px;
    background-color:lightgoldenrodyellow;
    display:flex;


}
.menu{
    width: 100%;
    height:70px;
}

.menu ul{
    list-style:lower-greek;
    margin:0px;
    padding:36px;
    float:right;
}

.menu ul li{
    display:inline-block;
}
.menu ul li a{
    text-decoration:lightgreen;
    color:lightslategrey;
    padding:25px 20px;
    font-size:23px;
    font-weight:bolder;
    font-style: italic;
    text-align: center;
}

.menu ul li  a:hover{
    color:lightyellow;
    background-color:lightpink;

}

.slider{
    width:100%;
    height:550px;
    background-image: url(../assets/image/electricalshop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}